/* Browser support for CSS grid: https://caniuse.com/#feat=css-grid */
body, html {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.font-12 {
	font-size: 12px;
}

.grid {
	display: grid;
}

.footer {
	background: #EFEFEF;
}

.justify-content-center {
	justify-content: center;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.body-div {
	border-top: 4px solid #ccc;
	background: #EFEFEF;
}

.number-block-container {
	list-style: none;
	grid-template-columns: repeat(4, 240px);
	grid-template-rows: repeat(3, 240px);
	margin: 0;
	padding: 0;
}

.number-block-container .number-block {
	display: grid;
	align-items: center;
	font-size: 100px;
	color: #FFFFFF;
	box-sizing: border-box;
}

/* NOTE: Colors provided were incomplete, hence changed a few. */
.number-block.one {
	background: #6F98A8;
}

.number-block.two {
	background: #3186AA;
}

.number-block.three {
	background: #445A62;
}

.number-block.four {
	background: #2B8EAD;
}

.number-block.five {
	background: #293C43;
}

.number-block.six {
	background: #BFBFBF;
}

.number-block.seven {
	background: #D6D6D6;
}

.number-block.eight {
	background: #72C3DC;
}

.number-block.nine {
	background: #2F454E;
}

.btn-container {
	grid-row: 1 / 4;
	grid-column: 4;
}

.btn-container .btn {
	padding: 16px 0;
	width: 75%;
	border-radius: 10px;
	margin-top: 30px;
	color: #FFFFFF;
	background: #72C3DC;
	border: 0;
	border-bottom: 6px solid #2B8EAD;
	outline: none;
	cursor: pointer;
}

.btn-container .btn:active {
	transform: translateY(2px);
}

@media only screen and (max-width: 959px) {
	.number-block-container {
		grid-template-columns: repeat(4, auto);
		grid-template-rows: repeat(3, auto);
	}

	.number-block-container .number-block {
		font-size: 60px;
	}
}

@media only screen and (max-width: 375px) {
	.header {
		background: #333333;
		color: #FFFFFF;
		display: grid;
	}

	.body-div {
		border-top: 0;
		background: #FFFFFF;
		padding: 0 20px;
	}

	.number-block-container {
		grid-template-columns: auto;
	}

	.number-block-container .number-block {
		height: 40px;
		color: #000000;
		background: #EFEFEF;
		font-size: 16px;
		margin-bottom: 4px;
		grid-column: 1;
	}

	.number-block.one,
	.number-block.two,
	.number-block.three,
	.number-block.four,
	.number-block.five,
	.number-block.six,
	.number-block.seven,
	.number-block.eight,
	.number-block.nine {
		border-left-width: 10px;
		border-left-style: solid;
	}

	.number-block.one {
		border-color: #6F98A8;
	}

	.number-block.two {
		border-color: #3186AA;
	}

	.number-block.three {
		border-color: #445A62;
	}

	.number-block.four {
		border-color: #2B8EAD;
	}

	.number-block.five {
		border-color: #293C43;
	}

	.number-block.six {
		border-color: #BFBFBF;
	}

	.number-block.seven {
		border-color: #D6D6D6;
	}

	.number-block.eight {
		border-color: #72C3DC;
	}

	.number-block.nine {
		border-color: #2F454E;
	}

	.btn-container {
		grid-column: 1
	}

	.btn-container .btn {
		width: 30%;
		margin: 10px 0;
	}

	.footer {
		background: #FFFFFF;
	}
}
